<md-dialog>
  <md-dialog-content class="size">
    <div class='md-dialog-content'>
      <form name="change">    
      <div layout="column">
          <md-input-container>
            <label>Old password</label>
            <input type="password" name="old" ng-model="$ctrl.old" required>
            <div ng-messages="change.old.$error" role="alert">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
              <label>New password</label>
              <input type="password" name="new" ng-model="$ctrl.new" required md-maxlength="50">
              <div ng-messages="change.new.$error" role="alert">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The password can not be more than 50 long.</div>
              </div>
          </md-input-container>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="edit" ng-disabled="change.$invalid" ng-click="$ctrl.changePassword($ctrl.old, $ctrl.new)">Edit</md-button>
    <md-button class="md-warn" ng-click="$ctrl.$mdDialog.hide()">cancel</md-button>
  </md-dialog-actions>
</form>
</md-dialog>