<md-button class="md-raised" layout="row" layout-align="start center" ng-click="showComments = ! showComments">Comments ({{$ctrl.getCommentsCount()}})</md-button> 
<md-list-item ng-show="showComments" ng-repeat="comment in $ctrl.comments" class="md-3-line">
  <div class="md-list-item-text" layout="column" layout-padding>
    <h3>{{comment.author_name}}</h3>
    <p>{{comment.comment}}</p>
    <p>{{comment.commented | date:'yyyy-MM-dd HH:mm'}}</p>
  </div>
</md-list-item>
<p>{{$ctrl.postid}}</p>
<addcomments ng-show="showComments" postId='$ctrl.id'></addcomments>
