<div layout="row" layout-align="center center">
  <md-button class="md-fab ng-md-icon" aria-label="add post" ng-click="$ctrl.showDialog($event)">
    <ng-md-icon icon="add" style="fill: white" size="40px"></ng-md-icon>
  </md-button>
</div>
  <!-- <div>
    <form layout="column">
      <md-input-container>
        <label>Title</label>
        <input></input>
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <textarea rows="4" maxlength="255" md-select-on-focus ng-model='user'></textarea>
      </md-input-container>
        <input class="ng-hide" id="input-file-id" multiple type="file" />
        <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
    </form>
  </div> -->
