<md-dialog>
  <md-dialog-content class="size">
    <div class='md-dialog-content'>
        <form name="edit">    
      <div layout="column">
          <md-input-container>
            <label>Edit Title</label>
            <input type="text" name="title" ng-model="$ctrl.title" required md-maxlength="40">
            <div ng-messages="edit.title.$error" role="alert">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The title can not be more than 40 long.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Edit description</label>
            <textarea rows="2" name="description" md-maxlength="500" required md-select-on-focus ng-model='$ctrl.description'></textarea>
            <div ng-messages="edit.description.$error" role="alert">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description can not be more than 500 long.</div>
              </div>
          </md-input-container>
        <div layout="row" layout-align="end center">
          <md-button class="edit" ng-disabled="edit.$invalid" ng-click="$ctrl.edit()">Edit</md-button>
          <md-button class="md-warn" ng-click="$ctrl.$mdDialog.hide()">cancel</md-button>
        </div>
      </div>
    </form>
    </div>
  </md-dialog-content>
</md-dialog>