<md-dialog class="size">
  <md-dialog-content>
    <div class='md-dialog-content'>
      <form layout="column" name="newpost">
          <div layout="row">  
              <input accept="image/*" name="file" ngf-select="" ng-model="$ctrl.picFile" id="input-file-id"  type="file" style="display:none"/>
              <label for="input-file-id" class="md-button md-raised md-primary addpost" ng-show="!$ctrl.picFile">Choose Files</label>
            </div>          
              <img ng-show="myForm.file.$valid" ngf-thumbnail="!$ctrl.picFile.$error && $ctrl.picFile" class="thumb"></img> 
          <md-input-container>
            <label>Title</label>
            <input required md-maxlength="50" ng-model='$ctrl.data.title' name="title"></input>
            <div ng-messages="newpost.title.$error" role="alert">
              <div ng-message="required">This is required field.</div>
              <div ng-message="md-maxlength">The description can not be more than 50 long.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Description</label>
            <textarea required rows="2" name="description" md-maxlength="500" required md-select-on-focus ng-model='$ctrl.data.description'></textarea>
            <div ng-messages="newpost.description.$error" role="alert">
              <div ng-message="required">This is required field.</div>
              <div ng-message="md-maxlength">The description can not be more than 500 long.</div>
            </div>
          </md-input-container>
          <md-dialog-actions layout-align="end center" layout="row" ng-if="$ctrl.picFile">
            <md-button type="submit" class="md-raised md-primary addpost" aria-label="Done!" ng-disabled="newpost.$invalid" ng-click="$ctrl.addPost()">
                Done!
            </md-button>
            <md-button class="md-raised md-warn" aria-label="reset" ng-click="$ctrl.picFile = null">
                Reset
            </md-button>
          </md-dialog-actions>
        </form>
      </div>  
  </md-dialog-content>
</md-dialog>