<md-card flex="40" flex-offset="30" class='.md-whiteframe-6dp'>
  <md-card-header>
    <md-card-header-text>
      <span class="md-title" >{{$ctrl.post.author_name}}</span>
      <span class="md-subhead">{{$ctrl.post.created | date:'MMM d, y HH:mm'}}</span>
    </md-card-header-text>
  </md-card-header>
  <img class="md-card-image" src="{{$ctrl.post.url}}">
    <md-card-title>
    <h1 class='md-headline'>{{$ctrl.post.title}}</h1>
    <md-card-actions class="edit">
      <md-button class="md-primary" ng-click="$ctrl.editDialog($event, $ctrl.post.title, $ctrl.post.description, $ctrl.post.id)">
        <ng-md-icon icon="edit" style="fill: blue" size="16"></ng-md-icon> 
        edit
      </md-button>
      <md-button class="md-warn" ng-click="$ctrl.delete()">
        <ng-md-icon icon="clear" style="fill: orange" size="20" ng-click=""></ng-md-icon>
        delete
      </md-button>
    </md-card-actions>
    </md-card-title>
    <md-card-content>
    <p>{{$ctrl.post.description}}</p>
    <p ng-if="$ctrl.checkUpdatePost()">Updated: {{$ctrl.post.updated | date:'MMM d, y HH:mm'}}</p>
    <md-card-actions class="margin-align" layout="row" layout-align="start center">
      <md-button class="md-raised" ng-click="showComments = ! showComments">Comments ({{$ctrl.length}}) 
        <ng-md-icon icon="mode_comment" style="fill: gray" size="20"></ng-md-icon>
      </md-button>
    </md-card-actions>
    <mycomments ng-show="showComments" comments="$ctrl.comments" deletecomment="$ctrl.deleteComment(commentId)"></mycomments>
    <addcomments ng-show="showComments" postid='$ctrl.post.id' addcomment="$ctrl.addComment(post, comment)"></addcomments>
  </md-card-content>
</md-card>