<form name="singup" enctype="application/x-www-form-urlencoded"> 
  <div layout="column" flex="30" flex-offset="30">
    <h1 class="md-head-line">Sing up</h1>
    <md-input-container>
      <label>Name</label>
      <input required class="md-input" ng-model="$ctrl.data.name" name="name" minlength="3">
    </md-input-container>
    <md-input-container>
      <label>Login</label>
      <input required class="md-input" ng-model='$ctrl.data.login' name='login' minlength="3">  
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input required class="md-input" ng-model="$ctrl.data.password" type="password" ng-model name='password' minlength="3">  
    </md-input-container>
    <md-input-container>
      <md-button layout-align="center end" class="md-raised" ng-disabled="$ctrl.checkInput()" type='submit' ng-click="$ctrl.singup()">Submit</md-button>
    </md-input-container>
  </div>
</form>