html, body {
    background-color: whitesmoke
}
md-radio-group{
    padding-left: 1%;
    padding-top: 1%
}

.forms{
    margin-top: 50px
}

.comments{
    background-color: #D4D4D4
}

.addcomment{
    margin-right: 20% 
}